<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Admin home</h2>
    <h3><a href="{% url 'season' %}">Add Season</a></h3>
    <h3><a href="{% url 'seasonFactor' %}">Add season factor</a></h3>
    <h3><a href="{% url 'hobbyFactor' %}">Add hobby factor</a>
    <h3><a href="{% url 'seasonCountry' %}">Add country season </a></h3>
    <h3><a href="{% url 'agefactor' %}">Age Factor</a></h3>

    
</body>
</html>