<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forward message</title>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#receiver").change(function(){
                var recname=$("#receiver").val()
                $.ajax({
                    url:"{% url 'checkUsername' %}",
                    data:{'username':recname},
                    success:function(data){
                        if(data.valid=="not_exist"){
                            alert("user not exist")
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
    <h2>Forwarded Message</h2>
    <form method="POST" action="{% url 'forwardMessageAction' %}">
        {% csrf_token %}
        {% for v in view %}
        
        <table>
            <tr>
                <th>Receiver_name</th>
                <td><input type="text" name="recname" id='receiver'></td>
            </tr>
            <tr>
                <th>Subject</th>
                <td><input type="text" name="subject" value="{{v.Subject}}" readonly></td>
            </tr>
            <tr>
                <th>Message</th>
                <td><textarea name="message" cols="30" rows="10">{{v.Message}}</textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="forward"></td>
            </tr>
        </table>
        {% endfor %}
    </form>
    
</body>
{%if messages %}
{%for msg in messages%}
<script>
    alert('{{msg}}')
</script>
{%endfor%}
{%endif%}
</html>
