<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hobby factor</h2>
    <form method="POST" action="{% url 'hobbyFactorAction' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Hobbies</th>
                <td><select name="hobby">
                    <option value="">--select--</option>
                    {% for h in hobby %}
                    <option value="{{h.id}}">{{h.Name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <th>Factor_Name</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
                </tr>
        </table>
    </form>

</body>
</html>