<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newpassword</title>
</head>
<body>
    <h2>newpassword</h2>
    <form method="POST" action="{% url 'newpasswordAction' %}">
        {% csrf_token %}
        <table>
            <tr><input type="hidden" name="username" value="{{data}}">
                <th>Country</th>
                <td><select name="country" >
                    <option value="">--select--</option>
                    {% for c in country %}
                    <option value="{{c.id}}">{{c.Name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <th>DOB</th>
                <td><input type="date" name="dob" ></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>