<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Season Factor</title>
</head>
<body>
    <h2>Season Factor</h2>
    <form method="POST" action="{% url 'seasonFactorAction' %}">
        {% csrf_token %}
        <table>
            <tr>
            <th>Season:</th>
            <td><select name="season" >
                <option value="">--select--</option>
                {% for v in season %}
                <option value="{{v.id}}">{{v.Name}}</option>
                {% endfor %}
            </select></td>
            </tr>
            <tr>
                <th>Factor_name</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
</body>
</html>