<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country season</title>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#season").change(function(){
                var sid=$("#season").val()
                $.ajax({
                    url:"{% url 'getFactor' %}",
                    data:{'season':sid},
                    success:function(data){
                        $("#factor").html(data)
                    }
                })
            })
        })
    </script>
    <script>
        $(document).ready(function(){
            $("#country").change(function(){
                var cid=$("#country").val()
                $.ajax({
                    url:"{% url 'getstate' %}",
                    data:{'country':cid},
                    success:function(data){
                        $("#state").html(data)
                    }
                })
            })
        })
    </script>
</head>
<body>
    <h2>Countries season</h2>
    <form method="POST" action="{% url 'seasonCountryAction' %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Season</th>
                <td><select name="season" id="season">
                    <option value="">--select--</option>
                    {% for v in season %}
                    <option value="{{v.id}}">{{v.Name}}</option>
                    {% endfor %}
                </select>
                Factor_name
            <select name="factor" id="factor">
                <option value="">--select--</option>
            </select>

            </select>
            </td>
            </tr>
            <tr>
                <th>Country:</th>
                <td><select name="country" id="country">
                    <option value="">--select--</option>
                    {% for v in country %}
                    <option value="{{v.id}}">{{v.Name}}</option>
                    {% endfor %}
                </select>
            State
            
            </select>
                <select name="state" id="state">
                <option value="">--Select--</option>
                </select></td>
            </tr>
            <tr>
                <th>Months</th>
                <td><select name="months" >
                    <option value="">--Select--</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
</body>
{%if messages %}
{%for msg in messages%}
<script>
    alert('{{msg}}')
</script>
{%endfor%}
{%endif%}
</html>